* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/img/background.svg");
  background-repeat: no-repeat;
}

.img-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 2rem;
}

.title-main {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset #fff 3px 3px 6px 1px, inset#6e749b4d -2px -2px 6px 0;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.43);
  gap: 10px;
}

label {
  font-size: 20px;
}
input {
  text-align: center;
  border-radius: 0.5rem;
  font-size: 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.botoes a {
  font-size: 1.2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #7bb0ba;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.botoes a:hover {
  background-color: #232728;
}
