* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Tibetan", sans-serif;
  text-decoration: none;
}

.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/img/background.svg");
}

.img-logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2rem;
}

.title-main {
  display: inline-block; /* Permite controle de padding/margin */
  text-align: center;
  font-size: 2rem; /* Ajuste conforme necessário */
  /* background-color: aqua; */
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  border-radius: 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

input {
  text-align: center;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
  width: 100%;
}

.buttons a {
  font-size: 1.2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #7bb0ba;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem 1rem;
}

.buttons a:hover {
  background-color: #232728;
}
